@use '_variables' as v;

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.canvas {
    background-color: v.$black;
}

.inner-board {
    max-width: v.$lg;
    margin: auto;
    padding-top: 60px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: .75em;
}

.col-12 {
    grid-column: auto/ span 12;
}

.col-10 {
    grid-column: auto/ span 10;
}

.col-6 {
    grid-column: auto/ span 6;
}

.col-2 {
    grid-column: auto/ span 2;
}

@media only screen and (min-width: v.$xs) and (max-width:v.$sm) {
    .col-sm-12 {
        grid-column: auto/ span 12;
        border: 1px solid brown;
    }

    .col-sm-6 {
        grid-column: auto/ span 6;
        border: 1px solid brown;
    }
}

@media only screen and (min-width: v.$sm) and (max-width:v.$md) {
    .col-md-12 {
        grid-column: auto/ span 12;
        border: 1px solid green;
    }

    .col-md-3 {
        grid-column: auto/ span 3;
        border: 1px solid green;
    }
}

@media only screen and (min-width: v.$md) and (max-width: v.$lg) {
    .col-lg-4 {
        grid-column: auto/ span 4;
        border: 1px solid blue;
    }
}

@media only screen and (min-width: v.$lg) and (max-width: v.$xl) {
    .col-xl-4 {
        grid-column: auto/ span 4;
    }
}

@media only screen and (min-width: v.$xl) {
    .col-xxl-4 {
        grid-column: auto/ span 4;
    }
}