@use '_variables' as v;

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-container {
    display: flex
}

.navbar-brand {
    text-decoration: none;
    white-space: nowrap;
    color: v.$netflix-red !important;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.navbar-collapse {
    flex-grow: 1;
    align-items: center;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: v.$white;
}

@media only screen and (min-width: v.$xs) and (max-width:v.$md) {
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: column;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    .nav-item {
        padding-top: 10px;
    }
}