@use '_variables' as v;

.navbar {
    background-color: v.$black;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-container {
    display: flex;
    align-items: baseline;
}

.navbar-brand {
    text-decoration: none;
    white-space: nowrap;
    color: v.$netflix-red !important;
}

.nav-button {
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    border: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.navbar-collapse {
    flex-grow: 1;
    align-items: center;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: v.$white;
}

@media only screen and (min-width: v.$xs) and (max-width: v.$lg) {
    .navbar-brand {
        margin-left: 16px;
    }
}

@media only screen and (min-width: v.$md) {
    .nav-button {
        display: none;
    }

    .navbar-collapse-desktop {
        display: none;
    }
}

@media only screen and (min-width: v.$xs) and (max-width:v.$md) {
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    .nav-item {
        padding-top: 10px;
    }

    .navbar-collapse-mobile {
        display: none;
    }
    
}